/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1395px;
  margin: 0 auto;
  padding: 12px;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  height: 70px;
  box-shadow: 0 3px 6px #00000029;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .navbar-logo {
  padding-left: 136px;
  font: normal normal 300 32px/37px Raleway;
  color: #08A6E4;
}
@media screen and (max-width: 780px) {
  .navbar .navbar-logo {
    padding-left: 0;
  }
}
@media screen and (max-width: 780px) {
  .navbar .navbar-links {
    display: none;
  }
}
.navbar .navbar-links a {
  font: normal normal bold 11px/15px Open Sans;
  text-decoration: none;
  color: #A5A5A5;
  text-align: center;
  letter-spacing: 3.28px;
  text-transform: uppercase;
  padding: 28px 18px 22px;
}
.navbar .navbar-links a:hover {
  border-bottom: 4px solid #08A6E4;
  color: #000000;
}
.navbar .navbar-links a:active {
  border-bottom: 4px solid #08A6E4;
  color: #000000;
}
.navbar .navbar-links-list {
  display: flex;
  /*justify-content: space-around;*/
  /*align-items: center;*/
}
.navbar .navbar-links-list li {
  padding: 0 26px;
}
.navbar .navbar-links-list li:last-child {
  padding-right: 0;
}

.banner {
  display: flex;
  flex-flow: column;
  align-items: center;
  background: #fff url("../images/Background.png") no-repeat bottom/contain;
  height: 712px;
  padding-top: 130px;
}

.banner h1 {
  font: normal normal normal 49px/57px Raleway;
  color: black;
  padding: 20px;
}

.banner p {
  text-align: center;
  font: normal normal normal 16px/22px Open Sans;
  color: black;
  padding-bottom: 38px;
}
@media screen and (max-width: 780px) {
  .banner p {
    font: normal normal normal 16px/22px Open Sans;
  }
}

.banner a {
  color: white;
  text-decoration: none;
  border-radius: 40px;
  background: #08A6E4 0% 0% no-repeat padding-box;
  box-shadow: 5px 10px 14px #07ACE629;
  padding: 22px 157px;
  font: normal normal bold 16px/22px Open Sans;
}

.statistics {
  margin-top: 100px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
@media screen and (max-width: 780px) {
  .statistics {
    margin-top: 20px;
  }
}
.statistics h2 {
  text-align: center;
  font: normal normal normal 36px/42px Raleway;
}
.statistics .statistics-items {
  display: flex;
  justify-content: space-evenly;
}
@media screen and (max-width: 780px) {
  .statistics .statistics-items {
    flex-flow: column;
  }
}
.statistics .statistics-items-item {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  margin: 100px 0;
}
@media screen and (max-width: 780px) {
  .statistics .statistics-items-item {
    margin: 30px 0;
  }
}
.statistics .statistics-items-item h2 {
  padding-top: 13px;
  font: normal normal 800 20px/24px Raleway;
  letter-spacing: 5.96px;
  color: #000000;
}
.statistics .statistics-items-item p {
  font: normal normal normal 17px/20px Raleway;
  color: #A5A5A5;
  margin-top: 19px;
}
.statistics .statistics-items-person {
  background: #FB3B64;
  width: 63px;
  height: 63px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.statistics .statistics-items-eye {
  background: #08A6E4;
  width: 63px;
  height: 63px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.statistics .statistics-items-file {
  background: #55DFB4;
  width: 63px;
  height: 63px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.statistics .statistics-items-img {
  transform: translate(22px, 0);
}

.articles {
  margin: 100px 0;
  height: 1395px;
  background-color: #F7F7F7;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.articles .container {
  padding: 0 100px;
}

article {
  height: 370px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background: #ffffff;
  border: 1px solid #e8e9ed;
  border-radius: 5px;
  margin-bottom: 37px;
}

article .image-square {
  position: relative;
  margin-bottom: 38px;
  margin-right: 117px;
}

article img {
  position: relative;
  z-index: 2;
  width: 383px;
}

article img::before {
  content: "";
  width: 180px;
  height: 180px;
  background-color: var(--accent-color);
  display: block;
  border-radius: 40px;
  position: absolute;
  right: 0;
  top: -40px;
  transform: rotate(45deg);
}

.articles-text {
  display: flex;
  flex-flow: column;
  max-width: 415px;
  margin: 90px 35px;
}

.articles-text h2 {
  font: normal normal normal 36px/42px Raleway;
  margin-bottom: 32px;
  color: black;
}

.articles-text p {
  color: black;
  font: normal normal normal 16px/22px Open Sans;
}

.articles-text::after {
  content: "";
  width: 332px;
  height: 4px;
  background-color: #FB3B64;
  display: block;
  margin-top: 50px;
}
/*# sourceMappingURL=main.css.map */
