* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #08A6E4;
}

.container {
    width: 1352px;
}

.navbar {
    height: 70px;
    box-shadow: 0px 3px 6px #00000029;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar-logo {
    /*padding-top: 16px;*/
    /*padding-bottom: 17px;*/
    padding-left: 136px;
    font: normal normal 300 32px/37px Raleway;
}

.navbar .navbar-links-list {
    display: flex;
    /*justify-content: space-around;*/
    /*align-items: center;*/
}

.navbar .navbar-links li{
    padding: 0 26px;
}

.navbar-links li:last-child {
    padding-right: 0;
}

.navbar .navbar-links a {
    font: normal normal bold 11px/15px Open Sans;
    text-decoration: none;
    color: #A5A5A5;
    text-align: center;
    letter-spacing: 3.28px;
    text-transform: uppercase;
    padding: 28px 18px 22px;
}

.navbar .navbar-links a:active {
    border-bottom: 4px solid #08A6E4;
    color: #000000;
}

.navbar .navbar-links a:hover {
    border-bottom: 4px solid #08A6E4;
    color: #000000;
}