$phone-width: 780px;
$desktop-width: 1440px;

$tablet-start: $phone-width;


@mixin phone {
  @media screen and (max-width: $tablet-start) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet-start) {
    @content;
  }
}
