@use "sass:color";

.navbar {
  position: sticky;
  height: 70px;
  box-shadow: 0 3px 6px #00000029;
  $mobile-menu-width: 100%;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //height: 100%;
  }

  .navbar-logo {
    padding-left: 136px;
    font: normal normal 300 32px/37px Raleway;
    color: $color-main;
    @include phone {
      padding-left: 0;
    }
  }

  .header__menu-btn {
    display: none;
    @include phone {
      display: block;
      position: absolute;
      right: 15px;
      padding: 25px;
      border-radius: calc(15px / 3);
      appearance: none;
      background-color: white;


      &::before {
        color: $color-main;
        font-size: 2em;
      }
    }
  }

  .navbar-links {
    @include phone {
      display: none;
    }

    a {
      font: normal normal bold 11px/15px Open Sans;
      text-decoration: none;
      color: #A5A5A5;
      text-align: center;
      letter-spacing: 3.28px;
      text-transform: uppercase;
      padding: 27px 3px;

      &:hover {
        border-bottom: 4px solid #08A6E4;
        color: #000000;
      }

      &:active {
        border-bottom: 4px solid #08A6E4;
        color: #000000;
      }
    }
  }

  .navbar-links-list {
    display: flex;
    /*justify-content: space-around;*/
    /*align-items: center;*/
    li {
      padding: 0 26px;

      &:last-child {
        padding-right: 0;
      }
    }
  }
}






